@reference "tailwindcss";

.container {
  position: relative;
}

.content {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
  max-width: 90rem;
  text-align: center;
  @apply pb-12 md:pb-[100px];
}

.badgeContainer {
  @apply mt-8 md:mt-16;
}

.badge {
  padding: 0.5rem 1rem;
  border-radius: 2em;
  box-shadow: hsl(204 10% 75%) 0 0 0 1px inset;
  background: rgba(255, 255, 255, 0.7);
  color: hsl(204 20% 30%);
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 5px 22px -10px hsl(204 45% 20%);
    box-shadow: hsl(204 20% 50%) 0 0 0 1px inset;
  }

  &:active {
    box-shadow: hsl(204 10% 75%) 0 0 0 1px inset;
  }

  &:focus-visible {
    outline: 2px solid
      hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
    outline-offset: 2px;
  }

  :global(.dark) & {
    background: rgba(17, 17, 17, 0.7);
    color: hsl(204 10% 70%);
    box-shadow: hsl(204 10% 25%) 0 0 0 1px inset;
    text-shadow: 0 1px 1px #000;

    &:hover {
      background: rgba(17, 17, 17, 1);
      box-shadow: hsl(204 10% 50%) 0 0 0 1px inset;
    }

    &:active {
      box-shadow: hsl(204 10% 25%) 0 0 0 1px inset;
    }
  }
}

.headline {
  margin-top: 1.5rem;
  background-image: linear-gradient(146deg, #000, #5e6265);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3.125rem;
  font-size: min(4rem, max(8vw, 2.8rem));
  font-weight: 700;
  font-feature-settings: initial;
  line-height: 1.05;
  letter-spacing: -0.12rem;

  :global(.dark) & {
    background-image: linear-gradient(146deg, #fff, #81878b);
  }

  @apply flex max-lg:flex max-lg:flex-col items-center justify-center;
}

.subtitle {
  margin-top: 1.25em;
  font-size: 1.3rem;
  font-size: min(1.3rem, max(3.5vw, 1.1rem));
  font-feature-settings: initial;
  font-weight: 400;
  line-height: 1.6;
}

.actions {
  margin-top: 1.6em;
  margin-bottom: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-size: min(1.3rem, max(3.5vw, 1.1rem));
  font-weight: 500;
}
