body {
  font-family: 'sans-serif', 'Arial', 'Microsoft Yahei';
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
a,
summary,
button,
input,
[tabindex]:not([tabindex='-1']) {
  &:focus-visible {
    box-shadow: none;
  }
}

.button-switch {
  @apply max-md:hidden;
  svg {
    @apply size-[14px];
  }
}
